Thumbs.db
.svn
*.orig
*.dcu
*.ppu
*.rst
*.compiled
*.or
*.d
*.o
*.a
*.exe
*.dll
*.identcache
*.bdsproj.local
*.bak
*~
Makefile
config.log
config.status
__history
aclocal.m4
autom4te.cache/
*.gcno
*.gcda
